@import 'variables';
// productos-pages.html
main{
    .productos-pages{
        @include margin-y(150px, 150px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-left: 100px;       
    }
}